{% extends 'base.html.twig' %}

{% block title %}Main menu{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
        <code>
            Warehouse to ADMIN
        </code>
        <p>Admin</p>
    {% endif %}
    <h2>Welcome back:  {{ app.user.username }}</h2>

    <h3>Main menu</h3>
    {% for message in app.flashes('info') %}
        <div class="flash search">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    <ul>
        <li>
            <label for="warehouse">Warehouse:</label>
            <form action="{{ path('app_product_warehouse') }}" method="post">
                <select name="warehouse" id="warehouse">
                    {% for w in warehouses.getWarehouses %}
                        <option value="{{ w.id }}">{{ w.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Selected</button>
            </form>
        </li>
        <li>
            <hr>
            <code>
                <a href="{{ path('app_delivery') }}">Delivery</a>
            </code>
        </li>
        <li>
            <code>
                <a href={{ path('app_issue') }}>Issue</a>
            </code>
        </li>
        <hr>
        <li>
            {% if is_granted('ROLE_ADMIN') %}
                <code>
                    <a href="{{ path('admin') }}">Admin</a>
                </code>
            {% endif %}
            <code>
                <a href="{{ path('app_logout') }}">Logout</a>
            </code>
        </li>
    </ul>
</div>
{% endblock %}
