{% extends 'base.html.twig' %}

{% block title %}Delivery{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>Delivery</h3>
        <code>
            <a href={{ path('app_delivery_open_document') }}>Opened document :{{ openDocument.id }}</a>
            Created: {{ openDocument.createdAt | date('d-M-Y') }}
        </code>
        <hr>
        {% for message in app.flashes('info') %}
            <div class="flash search">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        <a href="{{ path('app_home') }}"> <- Back</a>
        <div class="search">
            <label for="search"> Search code</label>
            <form action="{{ path('app_delivery_search') }}" method="post">
                <input id="search" type="search" name="search" placeholder="enter product code">
            </form>
        </div>
        <table >
            <tr>
                <th width="50%">Code</th>
                <th width="50%">Name</th>
                <th>Unit</th>
            </tr>
            {% for w in warehouse.getWarehouses() %}
                {% for p in w.getProducts %}
                    <tr>
                        <td>{{ p.getProductCode }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.unit }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
